.login_screen_form {
    display: flex;
    align-items: center;
    padding: 50px 10px;
}

.signIn_form {
    vertical-align: baseline;
    max-width: 480px;
    width: 100%;
    margin: auto;
    padding: 40px;
    border: 1px solid rgba(38, 38, 38, 0.10);
    border-radius: 8px;
}

.form_heading {
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #0d0c22;
}

.sign_google_box {
    margin: 0 0 30px;
}

.sinin_with_google_btn {
    border: 1px solid #e7e7e9;
    color: #0d0c22;
    background-color: #fff;
    width: 100%;
    padding: 14px 0px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: .5s all;
}

.sinin_with_google_btn svg {
    margin-right: 10px;
}

.sinin_with_google_btn:hover {
    border-color: #dbdbde;
    box-shadow: 0 1px 10px rgb(18 39 75 / 10%);
}


.other_option {
    border-top: 1px solid #e7e7e9;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.other_option span {
    display: inline-block;
    padding: 2px 10px;
    background-color: #fff;
    position: absolute;
    top: -12.5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 400;
    color: rgb(110, 109, 122);
}



.form_field label {
    display: block;
    margin: 14px 0 8px;
    color: #0d0c22;
    font-size: 15px;
    font-weight: 600;
}

.form_field label a {
    float: right;
    color: #0d0c22;
    font-weight: 400;
}


.form_field input {
    border: 1px solid #e7e7e9;
    color: #0d0c22;
    background-color: #fff;
    width: 100%;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    transition: .5s all;
    outline: none;
    margin-bottom: 15px;
}

.form_field input:hover {
    border-color: #dbdbde;
    box-shadow: 0 1px 10px rgb(18 39 75 / 10%);
}
.sign_btn {
    width: 100%;
    outline: none;
    background-color: #0d0c22;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #0d0c22;
    border-radius: 8px;
    padding: 13px 0;
    margin: 20px 0 20px;
}

.sign_up_text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}


@media (min-width:200px) and (max-width:768px) {
    .login_screen_form {
        padding: 20px 10px;
    }

    .signIn_form {
        padding: 20px;
    }
}